<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066875798699-3g3sen7p75pe41ce74v77i09ancopqcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066875798699-3g3sen7p75pe41ce74v77i09ancopqcr</string>
	<key>API_KEY</key>
	<string>AIzaSyAgDMadyqNUHJRGJFclVa2D9xP3HZWipBY</string>
	<key>GCM_SENDER_ID</key>
	<string>1066875798699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PurdueCS407Project.Travel--</string>
	<key>PROJECT_ID</key>
	<string>travelplusplus-9a88b</string>
	<key>STORAGE_BUCKET</key>
	<string>travelplusplus-9a88b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066875798699:ios:21e148e75d235b8337a3ee</string>
</dict>
</plist>